/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #293f50;  color: #88;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 70%;
  min-width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary Footer
  ========================================
*/
.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  display: block;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

.footer-nav {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 60px 80px 66px 80px;
  max-width: 1200px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.hero a {
  border: none;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
footer .nav {
  text-align: center;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
footer .nav li{
  display: inline-block;
  margin: 0 1.5%;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}
