/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  ========================================
  Custom styles
  ========================================
*/
/* line 14, ../sass/screen.scss */
body {
  background: #293f50;
  color: #88;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 19, ../sass/screen.scss */
h1, h2, h3, h4 {
  color: #648880;
}

/* line 23, ../sass/screen.scss */
h1 {
  font-size: 36px;
  line-height: 44px;
}

/* line 27, ../sass/screen.scss */
h2 {
  font-size: 24px;
  line-height: 44px;
}

/* line 31, ../sass/screen.scss */
h3 {
  font-size: 21px;
}

/* line 34, ../sass/screen.scss */
h4 {
  font-size: 18px;
}

/* line 37, ../sass/screen.scss */
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 43, ../sass/screen.scss */
strong {
  font-weight: 400;
}

/* line 46, ../sass/screen.scss */
cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/
/* line 56, ../sass/screen.scss */
a {
  color: #648880;
  text-decoration: none;
}

/* line 60, ../sass/screen.scss */
a:hover {
  color: #a9b2b9;
}

/* line 63, ../sass/screen.scss */
p a {
  border-bottom: 1px solid #dfe2e5;
}

/* line 66, ../sass/screen.scss */
.teaser a:hover h3 {
  color: #a9b2b9;
}

/*
  ========================================
  Grid
  ========================================
*/
/* line 76, ../sass/screen.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 84, ../sass/screen.scss */
.container,
.grid {
  margin: 0 auto;
  width: 80%;
  min-width: 960px;
}

/* line 90, ../sass/screen.scss */
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 95, ../sass/screen.scss */
.primary-header a,
.primary-footer a {
  color: #fff;
}

/* line 99, ../sass/screen.scss */
.primary-header a:hover,
.primary-footer a:hover,
.selected-page a {
  color: #648880;
}

/*
  ========================================
  Clearfix
  ========================================
*/
/* line 110, ../sass/screen.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 115, ../sass/screen.scss */
.group:after {
  clear: both;
}

/* line 118, ../sass/screen.scss */
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Primary header
  ========================================
*/
/* line 129, ../sass/screen.scss */
.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 100px 0;
  text-transform: uppercase;
}

/* line 139, ../sass/screen.scss */
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

/* line 143, ../sass/screen.scss */
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary Footer
  ========================================
*/
/* line 155, ../sass/screen.scss */
.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  display: block;
}

/* line 162, ../sass/screen.scss */
.primary-footer small {
  float: left;
  font-weight: 400;
}

/* line 167, ../sass/screen.scss */
.footer-nav {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*
  ========================================
  Home
  ========================================
*/
/* line 180, ../sass/screen.scss */
.hero {
  color: #fff;
  line-height: 44px;
  padding: 40px 80px 40px 80px;
  max-width: 1200px;
  text-align: center;
}

/* line 187, ../sass/screen.scss */
.hero h2 {
  font-size: 36px;
}

/* line 190, ../sass/screen.scss */
.hero p {
  font-size: 24px;
  font-weight: 100;
}

/* line 194, ../sass/screen.scss */
.hero a {
  border: none;
}

/* line 198, ../sass/screen.scss */
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/*
  ========================================
  About
  ========================================
*/
/* line 211, ../sass/screen.scss */
.portrait {
  border-radius: 15px 50px;
  padding-bottom: 12px;
}

/*
  ========================================
  Navigation
  ========================================
*/
/* line 222, ../sass/screen.scss */
.nav {
  text-align: right;
}

/* line 225, ../sass/screen.scss */
footer .nav {
  text-align: center;
}

/* line 229, ../sass/screen.scss */
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

/* line 234, ../sass/screen.scss */
footer .nav li {
  display: inline-block;
  margin: 0 1.5%;
  vertical-align: top;
}

/* line 240, ../sass/screen.scss */
.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Rows
  ========================================
*/
/* line 249, ../sass/screen.scss */
.row-alt,
.row {
  min-width: 960px;
}

/* line 253, ../sass/screen.scss */
.row {
  background: #fff;
  padding: 66px 0 44px 0;
  text-align: center;
}

/* line 258, ../sass/screen.scss */
.row-alt {
  background: #cbe2c1;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 44px 0;
}

 /*
 ========================================
 Leads
 ========================================
*/
/* line 270, ../sass/screen.scss */
.lead {
  text-align: center;
}

/* line 273, ../sass/screen.scss */
.lead p {
  font-size: 21px;
  line-height: 33px;
}
